@import "tailwindcss";



/* //navbar */
.heading{
font: 1em sans-serif;
font-size: 2.5rem;
 font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;

font-weight: 500;

}

.about{
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
 background-color: #f4f6f7 !important;
;
}